{% extends 'layout.html' %}
{% block content %}
<div class="container-sm">
    <table class="table">
        <tr>
            <th class="row">id</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th class="row">items</th>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    {% for item, order_item in combined %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ order_item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th scope="row">Name of Buyer</th>
            <td>{{ order.name_of_buyer }}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>{{ order.address }}</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td>{{ order.phone_number }}</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td><b>{{ total }}</b></td>
        </tr>
    </table>
    <td><a class="btn btn-success" href="{{ url_for('fulfil', order_id=order.id) }}">Fulfil</a></td>
</div>
{% endblock %}